body  
{  
    margin: 0;  
    padding: 0;  
    background-color:black;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 100px;  
        background:#328ef1;  
        border-radius: 15px ;  
}  
h1{  
    text-align: center;  
    color:#328ef1;  
    padding:40px;  
}  
label{  
    color: #328ef1;  
    font-size: 17px;  
}  
#user_name{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#submit{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color:black;   
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    color: black;
    text-decoration: none;  
}  
